.idea

backend/env
backend/__pycache__
backend/models/__pycache__
backend/models/serializer/__pycache__
backend/volcon/__pycache__
backend/volcon/applications/__pycache__
backend/volcon/auth/__pycache__
backend/volcon/missions/__pycache__
backend/volcon/org/__pycache__
backend/volcon/volunteer/__pycache__
backend/volcon/requirement/__pycache__

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

.gittoken